@model UserAddress
@{
    string Action = ViewContext.RouteData.Values["Action"].ToString();
    var User = ViewData["User"] as User;
}

<div class="container-main">
    <div class="d-block">
        <section class="profile-home">
            <div class="col-lg">
                <div class="post-item-profile order-1 d-block">
                    <div class="col-lg-3 col-md-3 col-xs-12 pr">

                        <div class="sidebar-profile sidebar-navigation">
                            <section class="profile-box">
                                <header class="profile-box-header-inline">
                                    <div class="profile-avatar user-avatar profile-img">
                                        <img src="/Site/assets/images/man.png">
                                    </div>
                                </header>
                                <footer class="profile-box-content-footer">



                                    <span class="profile-box-nameuser"></span>


                                 
                                    @if (User != null)
                                    {
                                        <span class="profile-box-registery-date">@User.UserName @User.UserFamily </span>
                                        <span class="profile-box-phone">شماره همراه : @User.Mobile</span>

                                    }
                                    <div class="profile-box-tabs">
                                        <a href="/Account/LogOut" class="profile-box-tab-sign-out"><i class="mdi mdi-logout-variant"></i>خروج از حساب</a>
                                    </div>
                                </footer>
                            </section>
                            <section class="profile-box">
                                <ul class="profile-account-navs">
                                    <li class="profile-account-nav-item navigation-link-dashboard ">
                                        <a href="/User/ProfileUser/Index" class="@(Action=="Index" ? "active":"" )">
                                            <i class="mdi mdi-account-outline"></i>
                                            پروفایل
                                        </a>
                                    </li>
                                    <li class="profile-account-nav-item navigation-link-dashboard">
                                        <a href="/User/ProfileUser/AllOrders" class="@(Action=="AllOrders" ? "active":"" )">
                                            <i class="mdi mdi-cart"></i>
                                            همه سفارش ها
                                        </a>
                                    </li>
                                    <li class="profile-account-nav-item navigation-link-dashboard">
                                        <a href="/User/ProfileUser/Address" class="@(Action=="Address" ? "active":"" )">
                                            <i class="mdi mdi-map-outline"></i>
                                            آدرس ها
                                        </a>
                                    </li>
                                    <li class="profile-account-nav-item navigation-link-dashboard">
                                        <a href="#" class="">
                                            <i class="mdi mdi-email-open-outline"></i>
                                            نظرات
                                        </a>
                                    </li>
                                    <li class="profile-account-nav-item navigation-link-dashboard">
                                        <a href="#" class="">
                                            <i class="mdi mdi-tooltip-text-outline"></i>
                                            اطلاعات حساب
                                        </a>
                                    </li>
                                </ul>
                            </section>
                        </div>

                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12 pl">
                        <div class="profile-content">
                            <div class="profile-stats">
                                <div class="profile-address">
                                    <div class="middle-container">
                                        <form asp-action="AddAddress" method="post" class="form-checkout">
                                            <div class="form-checkout-row">

                                                <div>
                                                    <label for="name">نام تحویل گیرنده <abbr class="required" title="ضروری" style="color:red;">*</abbr></span></label>
                                                    <input asp-for="RecipientName" class="input-name-checkout form-control">
                                                    <span asp-validation-for="RecipientName" class="text-danger"></span>
                                                </div>

                                                <div>
                                                    <label for="phone-number">شماره موبایل <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input asp-for="Mobile" class="input-name-checkout form-control text-left">
                                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                                </div>

                                                <div>
                                                    <label for="fixed-number">شماره تلفن ثابت <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input asp-for="Phone" class="input-name-checkout form-control text-left">
                                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                                </div>



                                                <div class="form-checkout-valid-row">
                                                    <label for="province">
                                                        استان
                                                        <abbr class="required" title="ضروری" style="color:red;">*</abbr>
                                                    </label>
                                                    <select asp-for="ProvinceId" id="province" class="form-control" asp-items="@ViewBag.Province">
                                                        <option value="" selected="selected">استان مورد نظر خود را انتخاب کنید </option>
                                                    </select>
                                                    <span asp-validation-for="ProvinceId" class="text-danger"></span>
                                                </div>
                                                <div>
                                                    <label for="bld-num">
                                                        پلاک
                                                        <abbr class="required" title="ضروری" style="color:red;">*</abbr>
                                                    </label>
                                                    <input asp-for="Plaque" class="input-name-checkout js-input-bld-num form-control">
                                                    <span asp-validation-for="Plaque" class="text-danger"></span>
                                                </div>

                                                <div class="form-checkout-valid-row">
                                                    <label>
                                                        شهر
                                                        <abbr class="required" title="ضروری" style="color:red;">*</abbr>
                                                    </label>
                                                    <select asp-for="CityId" id="city" class="form-control">
                                                        <option class="option" value="" selected="selected">شهر مورد نظر خود را انتخاب کنید</option>
                                                    </select>
                                                    <span asp-validation-for="CityId" class="text-danger"></span>

                                                </div>

                                                <div>
                                                    <label for="post-code">کد پستی<abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                                    <input type="text" asp-for="PostalCode" class="input-name-checkout form-control" placeholder="کد پستی را بدون خط تیره بنویسید">
                                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                                </div>

                                                <div>
                                                    <label for="address">
                                                        آدرس
                                                        <abbr class="required" title="ضروری" style="color:red;">*</abbr>
                                                    </label>
                                                    <textarea asp-for="FullAddress" rows="5" cols="30" class="textarea-name-checkout form-control"></textarea>
                                                </div>


                                                <div class="AR-CR">
                                                    <button type="submit" class="btn-registrar"> ثبت آدرس</button>
                                                    <a href="/User/ProfileUser/Address" class="cancel-edit-address" data-dismiss="modal" aria-label="Close">بازگشت</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



@section scripts{

    <script>
        $("#province").change(function () {
            var id = $(this).children("option:selected").val();
            var cityselect = $("#city");
            $.ajax({
                type: "POST",
                url: "/City",
                data: { id: id },
                success: function (data) {


                    cityselect.children('.option').remove();
                    cityselect.append("<option class='option' value='' selected='selected'>شهر مورد نظر خود را انتخاب کنید</option>");
                    data.forEach(function (item) {

                        cityselect.append($("<option class='option' value=" + item.CityId + ">" + item.CityName + "</option>"));
                    });
                }
            })
        });
    </script>


}




