@model User
@{
    Layout = null;
    string Action = ViewContext.RouteData.Values["Action"].ToString();
}


<div class="sidebar-profile sidebar-navigation">
    <section class="profile-box">
        <header class="profile-box-header-inline">
            <div class="profile-avatar user-avatar profile-img">
                <img src="/Site/assets/images/man.png">
            </div>
        </header>
        <footer class="profile-box-content-footer">



            <span class="profile-box-nameuser"></span>


            <span class="profile-box-registery-date">@Model.UserName @Model.UserFamily </span>
            <span class="profile-box-phone">شماره همراه : @Model.Mobile</span>

            <div class="profile-box-tabs">
                <a href="/Account/LogOut" class="profile-box-tab-sign-out"><i class="mdi mdi-logout-variant"></i>خروج از حساب</a>
            </div>
        </footer>
    </section>
    <section class="profile-box">
        <ul class="profile-account-navs">
            <li class="profile-account-nav-item navigation-link-dashboard ">
                <a href="/User/ProfileUser/Index" class="@(Action=="Index" ? "active":"" )">
                    <i class="mdi mdi-account-outline"></i>
                    پروفایل
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="/User/ProfileUser/AllOrders" class="@(Action=="AllOrders" ? "active":"" )">
                    <i class="mdi mdi-cart"></i>
                    همه سفارش ها
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="/User/ProfileUser/Address" class="@(Action=="Address" ? "active":"" )">
                    <i class="mdi mdi-map-outline"></i>
                    آدرس ها
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="#" class="">
                    <i class="mdi mdi-email-open-outline"></i>
                    نظرات
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="#" class="">
                    <i class="mdi mdi-tooltip-text-outline"></i>
                    اطلاعات حساب
                </a>
            </li>
        </ul>
    </section>
</div>